{% extends 'students/student_dashboard_base.html' %}

{% block title %}Student Dashboard{% endblock %}



{% block content %}
    <div class="p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Course Registration -->
        <a href="{% url 'course_registration' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-clipboard-list text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">Course Registration</span>
        </a>
        <!-- Student Form -->
        <a href="{% url 'student_form' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-file-alt text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">Student Form</span>
        </a>
        <!-- Academic Structure -->
        <a href="{% url 'academic_structure' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-graduation-cap text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">Academic Structure</span>
        </a>
        <!-- CA Results -->
        <a href="{% url 'ca_results' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-chart-bar text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">CA Results</span>
        </a>
        <!-- Exam Results -->
        <a href="{% url 'exam_results' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-file-alt text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">Exam Results</span>
        </a>
        <!-- Final Results -->
        <a href="{% url 'final_results' %}" class="flex flex-col items-center bg-gray-50 rounded-lg p-4 shadow-md hover:bg-gray-100 transition">
            <i class="fas fa-check-double text-red-600 text-3xl mb-2"></i>
            <span class="text-center text-gray-700">Final Results</span>
        </a>
    </div>
{% endblock %}

