<div class="collapse d-md-flex flex-column p-3 sidebar" id="sidebarMenu">

    <h4 class="text-center mb-4">Admin Panel</h4>

    <a href="{% url 'admin_dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
    </a>
    

    
    <a href="{% url 'view_courses' %}" class="nav-link {% if request.resolver_match.url_name == 'view_courses' %}active{% endif %}">
        <i class="fas fa-list-ul me-2"></i>View Courses
    </a>
    

    

    
    <a href="{% url 'view_students' %}" class="nav-link {% if request.resolver_match.url_name == 'view_students' %}active{% endif %}">
        <i class="fas fa-users me-2"></i>View Students
    </a>
    

    
    <a href="{% url 'logout' %}" class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">
        <i class="fas fa-sign-out-alt me-2"></i>Logout
    </a>

</div>
