<div class="row">
    {% if messages %}
        {% for message in messages %}
            <div class="container-fluid p-0 ps-3"> <!-- Use ps-3 for Bootstrap padding -->
                <div id="myAlert" class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="width: auto; float: right;">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
            {% for message in messages %}
                var icon = 'info'; // Default icon

                {% if message.tags == 'alert-debug' %}
                    icon = 'info';
                {% elif message.tags == 'alert-info' %}
                    icon = 'info';
                {% elif message.tags == 'alert-success' %}
                    icon = 'success';
                {% elif message.tags == 'alert-warning' %}
                    icon = 'warning';
                {% elif message.tags == 'alert-error' or message.tags == 'alert-danger' %}
                    icon = 'error';
                {% endif %}

                Swal.fire({
                    icon: '{{ icon|default:"info" }}',
                    title: '{{ message|escapejs }}',
                });
            {% endfor %}
        {% endif %}
    });
</script>
